 /* Card Styles */
  .FlexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    margin-top: 8%;
    margin-left: 1px;
    margin-right: 5px;
    width: 330px;
    background-color: #fff;
    height: 60vh;
    overflow: auto;
    flex-direction: column;
    border-radius: 10px;
    overflow-x: hidden;
}

div.image-container {
    height: 30vh;
}

div.title-card {
    height: 6vh;
}

div.descript-card{
    height: 5vh;
}

div.price-card {
    height: 5vh;
}

div.actions-card {
    height: 12vh;
}

.image-card {
    width: 330px;
    height: 30vh;
    object-fit: cover;
  }

  .title-card {
    margin-left: 5px;
    color: #444;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
  }

  .descript-card {
    margin-left: 5px;
    margin-right: 2px;
    font-size: 15px;
  }

  .price-card {
    font-size: 30px;
    margin-left: 5px;
  }

  .actions-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    width: 330px;
    height: 10vh;
    flex-direction: row;
    padding-top: 6px;
  }
  .actions-card div {
    width: 66px;
    height: 10vh;
    margin: 1px;
  }

  .btn-card {
    font-size: 45px;
    border: none;
    color: rgb(219, 131, 68);
  }

  .btn-card:hover{
    color: chocolate;
  }

  .arrow {
    font-size: 45px;
    border: none;
    color: #6e6e6e;
  }

  .arrow:hover{
    color: rgb(219, 131, 68);
  }

  .quantity-card {
    font-size: 25px;
  }

  .visible {
    display: block;
    visibility: visible;
  }

  .hide {
    display: none;
    visibility: hidden;
  }


  @media (max-width: 600px) {
    .FlexContainer {
      width: 100% !important;
    }

    .image-card {
      width: 100% !important;
      height: 30vh;
      object-fit: cover;
    }
  }