.pagination-container {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    margin-top: 20px; 
  }
  
  
  .pagination-button {
    background-color: chocolate; 
    color: #fff; 
    border: none;
    padding: 5px 10px;
    margin: 0 5px; 
    cursor: pointer;
    border-radius: 5px;
  }

  .pagination-button:hover {
    background-color: rgb(206, 123, 64);
  }
  
  .pagination-button:disabled {
    background-color: #a9a8a8; 
    cursor: not-allowed;
  }
  
  .page-indicator {
    margin: 0 10px; 
  }